.reframer-box {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 100px;
  align-items: center; 
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url('/images/moss-ground.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.intro-text {
  font-size: 36px;
  color: #FFFF99;
  text-align: center;
  width: 80vw;
  margin: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.reframer-input {
  margin-top: 50px;
  height: 40px;
  width: 600px;
  margin-bottom: 30px;
}

.reframer-input-box,
.plantgoals-input-box {
  color: rgb(22, 89, 22);
}

.reframer-submit {
  height: 35px;
  width: 90px;
  background-color: #d3d3d3;
  border-radius: 5px;
}

.reframer-output {
  font-size: 32px;
  color: #FFFF99;
  width: 750px;
  font-size: 32px;
  border: none; 
  text-align: center;
}

/* Styles for tablets */
@media only screen and (max-width: 768px) {
  .reframer-box {
    padding-top: 50px;
    height: auto;
    justify-content: center;
  }

  .intro-text {
    font-size: 28px;
    width: 90vw;
  }

  .reframer-input {
    width: 80%;
  }

  .reframer-output {
    width: 90%;
    font-size: 28px;
  }
}
/* Styles for phones */
@media only screen and (max-width: 480px) {
  .reframer-box {
    padding-top: 10px;
    height: auto;
  }

  .intro-text {
    font-size: 22px;
    width: 90%;
    margin: 10px 0;
  }

  .reframer-input {
    width: 80%; /* Narrower input width */
    height: 50px; /* Increase height for better usability */
    font-size: 18px; /* Minimum font size to prevent zoom */
    margin: 15px 0;
  }

  .reframer-submit {
    width: 85px;
    height: 50px; /* Match input height for consistency */
    font-size: 18px; /* Ensure consistent font size */
  }

  .reframer-output {
    width: 85%;
    font-size: 22px;
    margin: 10px 0;
  }
}
