.reframer-box {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 100px;
  align-items: center; 
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url('/images/moss-ground.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.intro-text {
  font-size: 36px;
  color: #FFFF99;
  text-align: center;
  width: 80vw;
  margin: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.reframer-input {
  margin-top: 50px;
  height: 40px;
  width: 600px;
  margin-bottom: 30px;
}

.reframer-input-box,
.plantgoals-input-box {
  color: rgb(22, 89, 22);
}

.reframer-submit,
.reframer-email {
  height: 35px;
  width: 90px;
  background-color: #d3d3d3;
  border-radius: 5px;
  margin-bottom: 10px;
}

.reframer-submit:hover,
.reframer-email:hover {
  background-color: #c0c0c0;
}

.reframer-output {
  font-size: 32px;
  color: #FFFF99;
  width: 750px;
  font-size: 32px;
  border: none; 
  text-align: center;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.email-input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.popup-buttons button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-buttons button:first-child {
  background-color: rgb(22, 89, 22);
  color: white;
}

.popup-buttons button:last-child {
  background-color: lightslategray;
  color: white;
}

/* Styles for tablets */
@media only screen and (max-width: 768px) {
  .reframer-box {
    padding-top: 50px;
    height: auto;
    justify-content: center;
  }

  .intro-text {
    font-size: 28px;
    width: 90vw;
  }

  .reframer-input {
    width: 80%;
  }

  .reframer-output {
    width: 90%;
    font-size: 28px;
  }
}

@media only screen and (max-width: 480px) {
  .reframer-box {
    padding-top: 5px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: scroll;
  }

  .intro-text {
    font-size: 22px;
    width: 90%;
    margin: 10px 0;
  }

  .reframer-input {
    width: 80%;
    height: 50px;
    font-size: 18px;
    margin: 15px 0;
  }

  .reframer-submit {
    width: 85px;
    height: 40px;
    font-size: 12px;
  }

  .reframer-output {
    width: 85%;
    font-size: 22px;
    margin: 10px 0;
  }
}
